{% extends "_base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/typeaheadjs.css')}}"/>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/dataTables.bootstrap.css">
<style>
.tt-dropdown-menu {
  max-height: 50px;
  overflow-y: auto;
}
</style>

<style>
td.details-control {
    background: url('{{url_for('static', filename='img/details_open.png')}}') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('{{url_for('static', filename='img/details_close.png')}}') no-repeat center center;
}
</style>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-sm-12 text-center">
        <h2><i class="fa fa-search"></i> Explore Metrics</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
        <table id="data_table"></table>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{{url_for('static', filename='js/typeahead.bundle.js')}}"></script>

<script>
</script>

<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/dataTables.bootstrap.js"></script>

<script>
function format(d) {
    // 'd' is the original data object for the row
    var ret = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';

    for(i=0; i < d.values.length; i++) {
        var url = encodeURIComponent('-1h m(' + d.tag + ': "' + d.values[i] + '")');

        ret += '<tr><td>';
        ret += '<a target="_blank" href="/graph?render=False&q=' + url + '">' + d.values[i] + '</a>';
        ret += '</td></tr>';
    }

    return ret + '</table>';
}

$(function() {
    var table = $('#data_table').DataTable({
        data: {{table_data|safe}},
        columns: [
            {
                render: function(data, type, full, meta) {
                    var url = encodeURIComponent('-1h l(' + full.tag + '": "*")');
                    return '<a target="_blank" href="/graph?render=False&q=' + url + '"><i class="fa fa-line-chart"></i></a>';
                },
                orderable: false,
            },
            {
                className: 'details-control',
                orderable: false,
                data: null,
                defaultContent: ''
            },
            {data: 'tag', title: 'Tag'},
        ],
        pageLength: 25,
        searching: false,
        /* order: [[0, "asc"],[2, "asc"]], */
        initComplete: function(settings, json) { $('#loader').hide(); }
    });

    $('#data_table tbody').on('click', 'td.details-control', function() {
        var tr = $(this).closest('tr');
        var row = table.row( tr );

        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
        }
    });

});



</script>
{% endblock %}