{% extends "_base.html" %}

{% block css %}
<link href="{{url_for('static', filename='css/typeaheadjs.css')}}" rel="stylesheet"/>
<style>
.tt-dropdown-menu {
  max-height: 50px;
  overflow-y: auto;
}
</style>
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal" action="/explore" method="get">
                <div class="form-group">
                    <label for="host" class="col-sm-3 control-label">Host</label>
                    <div class="col-sm-9">
                        <div id="hosts_typeahead">
                            <input type="text" class="form-control typeahead" id="host" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="group" class="col-sm-3 control-label">Group</label>
                    <div class="col-sm-9">
                        <div id="groups_typeahead">
                            <input type="text" class="form-control typeahead" id="group" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="metric" class="col-sm-3 control-label">Metric</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="metric" />
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock %}

{% block js %}
<script src="{{url_for('static', filename='js/typeahead.bundle.js')}}"></script>

<script>
    var config = {
        hint: true,
        highlight: true,
        minLength: 1
    };

    var hosts = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: {url: '/api/hosts', cache: false}
    });

    var groups = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: {url: '/api/groups', cache: false}
    });

    $('#hosts_typeahead .typeahead').typeahead(config, {name: 'hosts', limit: 25, source: hosts});
    $('#groups_typeahead .typeahead').typeahead(config, {name: 'groups', limit: 25, source: groups});
</script>
{% endblock %}