{% extends "_base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form class="form" action="/graph" method="get">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><button class="btn btn-default btn-sm" type="submit"><i class="fa fa-search"></i></button></div>
                        <input type="text" name='q' value='{{q}}' style="height: 44px" class="form-control" placeholder="-1h m('host', 'group', 'name')"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div id="graph"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="//code.highcharts.com/stock/highstock.js"></script>
<script type="text/javascript">
  new Highcharts.Chart({{chart|safe}});
</script>
{% endblock %}