<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    {% if page_title %}
        <title>{{page_title}}</title>
    {% else %}
        <title>Metrink-FE</title>
    {% endif %}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/simple-sidebar.css')}}">

    <!--<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">-->

    <!--<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">-->

    {% block css %}
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- full screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

</head>
<body>

    <div id="wrapper">
        <!-- sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">Metrink</li>
                <li><a href="/graph"><i class="fa fa-line-chart"></i> Graph</a></li>
                <li><a href="/explore?type=logs"><i class="fa fa-search"></i> Explore Logs</a></li>
                <li><a href="/explore?type=metrics"><i class="fa fa-search"></i> Explore Metrics</a></li>
            </ul>
        </div>

        <!-- page content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>


    <footer>
        <div id="footer" class="container">
            <div class="row">
                <div class="col-xs-4 col-xs-offset-5 text-center">
                    <span style="font-size: 12px; margin-top: 3px;">Copyright Educated Solutions LLC 2016</span>
                </div>
            </div>
        </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

{% block js %}
{% endblock %}

</body>
</html>
