{% extends "_base.html" %}

{% block css %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-12 text-center">
        <h2>Results</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <form class="form" action="/graph" method="get">
            <div class="form-group">
                <div class="input-group col-md-10 col-md-offset-1">
                    <div class="input-group-addon"><button class="btn btn-default btn-sm" type="submit"><i class="fa fa-search"></i></button></div>
                    <input type="text" name='q' value='{{q}}' style="height: 44px" class="form-control" placeholder="-1h m('host', 'group', 'name')"/>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div id="graph"></div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table id="table"></table>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="//code.highcharts.com/stock/highstock.js"></script>
<script type="text/javascript">
  new Highcharts.Chart({{chart|safe}});
</script>

<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    {{table|safe}}
</script>

{% endblock %}